# ======================
# 🔥 DATA (ignore)
# ======================
dataset/
data/
uploads/

# ======================
# 🔥 IMAGES
# ======================
*.jpg
*.jpeg
*.png

# ======================
# 🔥 ZIP / FILES
# ======================
*.zip

# ======================
# 🔥 PYTHON CACHE
# ======================
__pycache__/
*.pyc

# ======================
# 🔥 ENV
# ======================
venv/
.venv/

# ======================
# 🔥 NODE
# ======================
node_modules/

# ======================
# ⚠️ IMPORTANT
# ======================
# ❌ model ignore करू नको
# model.h5 ← REMOVE केला